<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.portal.mapper.roleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="shop.portal.entity.role">
        <id column="id" property="id" />
        <result column="user_role" property="userRole" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_role
    </sql>

</mapper>
